<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/assets/css/style.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Burgers</title>
</head>
<body>
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <img style="border-radius: 50%; height: 15rem; width: auto;"src="https://cdn0.iconfinder.com/data/icons/foody-icons/32/FoodyIcons_color-06-512.png">
            </div>
        </div>
        {{{body}}}
    </div>
</body>
</html>