<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgers</title>
</head>
<body>
    {{body}}
    <input>
    <button id="insertnew">Submit</button>
    <p>Enter a burger you want to eat Click the "Submit" button</p>
</body>
</html>