
<ul>
    {{#each burgers}}
    <li>
    <div class="row">
        <div class="col s4">
            {{this.id}}. {{this.burger_name}}
        </div>
        <div class="col s4 center">
            <p>
                <button data-burgerid="{{this.id}}" class="devour">Devour it!</button>
            </p>
        </div>
    </div>
    </li>
    {{/each}}
</ul>

<form id="addburger" class="button-size center">
    <textarea type="text" name="burger_name"></textarea>
    <button type="submit">Submit</button>
</form>
<p class="center">Enter a burger you want to eat Click the "Submit" button</p>
<br>

<script>
    $(".devour").on("click", function(event) {
        var id = $(this).data("burgerid");
        console.log("ID: " + id);
        $.ajax("/api/burgers/" + id, {
            type: "PUT"
        }).then(
            () => {
                console.log("delete id ", id);
                location.reload();
            }
        );
    });

    $("#addburger").on("submit", function(event) {
        event.preventDefault();
        var value = {
            burger_name: $("#addburger [name=burger_name]").val()
        };
        console.log(value);

        $.ajax("/api/burgers", {
            type: "POST",
            data: value
        }).then( () => {
            console.log("added new burger");
            location.reload();
        });
    });

</script>